/* reset.scss */

@import "../../scss/bootstrap-grid.scss";

$white: hsl(0, 0%, 100%);

html {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: $white;
    height: auto;
    background-image: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg") no-repeat;
    @include media-breakpoint-up(xxl) {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg") no-repeat;
    background-position: top left, bottom right;
    }
}